// стили, определяющие некоторые стандартные стили 
// для часто используемых элементов HTML.

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font-stack;
  font-size: 0.875rem;
  color: $primary-dark-text;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: $small-container;
  margin: 0 auto;
  padding-left: $large-padding;
  padding-right: $large-padding;

  @media (min-width: $medium-screen-width) {
    width: $medium-container;
    padding-left: $small-padding;
    padding-right: $small-padding;
  }

  @media (min-width: $large-screen-width) {
    width: $large-container;
    padding-left: $medium-padding + 162px;
    padding-right: $medium-padding;
  }
}