// стили, определяющие некоторые стандартные стили 
// для часто используемых элементов HTML.

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font-stack;
  font-size: 0.875rem;
  color: $primary-dark-text;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}