// *** HEADER ***
.page-header {
  background-color: $main-bg-color;
}

.page-header__wrapper {
  padding-top: 20px;
  padding-bottom: 16px;

  @media (min-width: $medium-screen-width) {
    padding: 34px 74px 27px;
  }

  @media (min-width: $large-screen-width) {
    padding-top: 31px;
    padding-right: 133px;
    padding-bottom: 69px;
  }
}

.page-header__inner {
  @media (min-width: $large-screen-width) {
    display: flex;
    justify-content: space-between;
  }
}