// *** INFO BLOCK ***
.header__info-block {
  padding: 14px 0;

  @media (min-width: $medium-screen-width) {
    padding-top: 19px;
    padding-bottom: 0;
  }

  @media (min-width: $large-screen-width) {
    flex-basis: 652px;
    padding-bottom: 54px;
  }
}

// ** Header Subject **

.header__subject {
  @include font-settings(0.875rem, 1.286);
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: normal;
  letter-spacing: -0.04em;
  color: $primary-light-text;

  &--med {
    margin-bottom: 1.2rem;
    font-weight: 500;
    letter-spacing: 0em;
  }

  @media (min-width: $medium-screen-width) {
    margin-bottom: 1.9rem;
    padding-right: 4rem;
    letter-spacing: -0.036em;

    &--med {
      @include font-settings(1.125rem, 1.44);
      margin-bottom: 1.6rem;
      padding-right: 0;
      letter-spacing: 0em;
    }
  }

  @media (min-width: $large-screen-width) {
    @include font-settings(1.25rem, 1.5);
    margin-bottom: 2.3rem;
    padding-right: 10px;

    &--med {
      @include font-settings(2.188rem, 1.34);
      margin-bottom: 1.8rem;
      padding-right: 30px;
    }
  }
}

// ** Header Lead **

.header__lead {
  @include font-settings(1.25rem, 1.3);
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: -2px;
  font-weight: 800;
  letter-spacing: -0.04em;

  @media (min-width: $medium-screen-width) {
    @include font-settings(2.5rem, 1.25);
    margin-bottom: 1.2rem;
    letter-spacing: -0.046em;
  }

  &--blue {
    color: $secondary-accent-color;

    @media (min-width: $large-screen-width) {
      @include font-settings(3.75rem, 1.17);
      margin-bottom: 2.3rem;
    }
  }

  &--yellow {
    margin-bottom: 0;
    color: $yellow-accent-color;

    @media (min-width: $large-screen-width) {
      @include font-settings(3.438rem, 1.36);
    }
  }
}

// ** Header Meeting **

.header__meeting {
  margin: 0;
  margin-bottom: 0.1rem;
  font-weight: bold;
  letter-spacing: -0.04em;
  color: $yellow-accent-color;

  @media (min-width: $medium-screen-width) {
    margin-bottom: 0;
  }

  @media (min-width: $large-screen-width) {
    @include font-settings(1.826rem, 2);
  }
}