/// common properties for all links
%link {
  display: inline-block;
  text-decoration: none;
}

/// common properties for all lists
%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/// common properties for all buttons
%button {
  background-color: $primary-accent-color;
  color: $primary-light-text;
  outline: none;
  cursor: pointer;
  transition-duration: 200ms;
}

/// common properties for all section titles
%section-title {
  @include font-settings(1.25rem, 1.5);
  font-weight: 800;
  letter-spacing: -0.08em;
  
  @media (min-width: $medium-screen-width) {
    @include font-settings(1.875rem, 1.333);
  }

  @media (min-width: $large-screen-width) {
    @include font-settings(3rem, 1.25);
  }
}

/// flex items to be positioned with even spaces between the lines
%flex-justify {
  display: flex;
  justify-content: space-between;
}