.section-one__wrapper {
  display: block;
  width: 260px;
  padding: 28px 0 26px 0;

  @media (min-width: $medium-screen-width) {
    width: 640px;
    padding: 45px 0 46px 0;
  }

  @media (min-width: $large-screen-width) {
    display: flex;
    padding-top: 124px;
    padding-bottom: 70px;
  }
}

.section-one__title {
  @extend %section-title;
  width: 296px;
  margin: 0 0 12px 0;

  @media (min-width: $medium-screen-width) {
    width: 620px;
    padding-left: $small-padding;
    margin-bottom: 26px;
  }

  @media (min-width: $large-screen-width) {
    display: block;
    width: 570px;
    padding: 0 80px 0 0;
  }

  &__line {
    display: none;
    padding-right: 5px;

    @media (min-width: $medium-screen-width) {
      display: inline-block;
    }
  }
}

.section-one__list {
  display: block;
  margin: 0 0 0 22px;
  padding: 0;
  list-style-image: url(../images/section-one/arrow.svg);

  @media (min-width: $medium-screen-width) {
    margin: 0 0 0 24px;
  }

  @media (min-width: $large-screen-width) {
    width: 570px;
    margin: 0 0 0 72px;
    padding-top: 6px;
  }
}

.section-one__item {
  @include font-settings(0.875rem, 1.429);
  width: 239px;
  padding: 0 0 10px 14px;

  @media (min-width: $medium-screen-width) {
    width: 590px;
    @include font-settings(1rem, 1.375);
    padding: 0 0 10px 26px;
  }

  @media (min-width: $large-screen-width) {
    @include font-settings(1.125rem, 1.667);
    padding: 0 74px 20px 16px;
  }
}

.section-one__item__line {
  display: block;
}
